.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 5%;
}

.hero > .content {
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 60px;
  font-weight: 600;
  transition: 0.5s;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  border: 2px solid white;
  padding: 15px 30px;
  margin-top: 20px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.content a:hover {
  background: #fff;
  color: #000;
}

.hero > .bg-video {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @media (min-aspect-ratio: 16/9) {
  .hero > .bg-video {
    width: 100%;
    height: auto;
  }
} */

/* @media (max-aspect-ratio: 16/9) {
  .hero > .bg-video {
    width: auto;
    height: 100%;
  }
} */

@media screen and (min-width: 576px) {
  .content h1 {
    font-size: 80px;
  }

  .content a {
    font-size: 24px;
    padding: 20px 40px;
  }
}

@media screen and (min-width: 768px) {
  .content h1 {
    font-size: 100px;
  }
}


