@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  min-height: 100vh;
}

button {
  font-family: "Bricolage Grotesque", sans-serif;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.nav-bar {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding:30px 5% 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-bar > .nav-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-bar span {
  font-size: 18px;
}

.nav-bar a {
  text-decoration: none;
  line-height: 24px;
  color: #000000;
  background: #fff;
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(153, 153, 153, 0.3)
}