body {
  background: #000;
  display: grid;
  place-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 2rem;
}

.hero > h1 {
    color: #fff;
    font-size: 80px;
}

header {
  width: 100%;
  height: 100px;
  /* background: rgba(255, 255, 255, 0.3); */
  z-index: 2;
  position: relative;
  outline: 1px solid rgba(255, 255, 255, 0.25);
}

.backdrop {
  position: absolute;
  inset: 0;
  height: 200%;
  backdrop-filter: blur(16px);
  mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
}

.ball {
  width: 150px;
  height: 150px;
  background: #62f700;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  cursor: move;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px); /* Moves up */
  }
  100% {
    transform: translateY(0px); /* Returns to original position */
  }
}
